
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Zhonghao - International Trade Company</title>
    <!-- Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/tab-logo.png" type="image/x-icon">
    <link rel="icon" href="/images/tab-logo.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">

    <#include "./header.ftl">

    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/about/about-header-background.jpg);">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>About Us</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="/index">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
            <div>
                <h6 style="color: white;">About Us</h6>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- About Section -->
    <section class="about-section-two">
        <div class="outer-container">
            <!-- Content Column -->
            <div class="content-column">
                <div class="inner-column">
                    <div class="sec-title wow fadeInLeft" data-wow-delay="0ms">
                        <h2>We have taken a technical approach to guide innovative projects in complex markets.</h2>
                    </div>
                    <div class="text wow fadeInLeft" data-wow-delay="300ms">Capitalize on low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide . Nanotechnology focusing solely on the bottom line.</div>
                    <div class="info wow fadeInLeft" data-wow-delay="600ms">
                        <h5>Manager : <span>Ashley Liu</span></h5>
                        <div class="sign-image"><img style="height: 60px; width: 200px" src="images/about/signature.png" alt=""></div>
                    </div>
                </div>
            </div>


             <!--Features Column-->
            <div class="features-column" style="background-image: url(images/about/about-header-background.jpg);">
                <div class="inner-column">
                    <div class="features-tabs tabs-box  wow fadeInRight" data-wow-delay="900ms">
                        <div class="inner">
                            <ul class="tab-buttons tab-btns">
                                <li data-tab="#tab-1" class="tab-btn active-btn">Mission</li>
                                <li data-tab="#tab-2" class="tab-btn">vision</li>
                                <li data-tab="#tab-3" class="tab-btn">value</li>
                            </ul>

                            <div class="tabs-content">
                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="tab-1">
                                    <div class="text">
<!--                                        <p><strong>Capitalize on low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</strong></p>-->
                                        <p>We provide superior services and experienced technical solution for our customers and industries.
                                        </p>
                                    </div>
                                </div>

                                <!--Tab-->
                                <div class="tab" id="tab-2">
                                    <div class="text">
                                       <p> To be the international leading trade company, development and transfer the high-quality products among US market, China Market and worldwide.</p>
                                    </div>
                                </div>

                                <!--Tab-->
                                <div class="tab" id="tab-3">
                                    <div class="text">
<!--                                        <p><strong>Capitalize on low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</strong></p>-->
                                        <p>Our commitment to professionalism customer-oriented services will make the Company’s services an advantageous choice for electrical equipment and chemical products.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About Section -->

    <!-- History Section Two -->
    <section class="history-section-two">
        <div class="history-tabs slider-tabs">
            <div class="upper-box" style="background-image: url(images/background/18.jpg);">
                <div class="auto-container">
                    <div class="sec-title light text-center">
                        <h2>Trading Products</h2>
                    </div>
                    <div class="tab-btns-box">
                        <ul class="tab-buttons clearfix">
                            <li class="tab-btn active-btn" data-tab="#tab1"><span>Electrical Equipments</span></li>
                            <li class="tab-btn" data-tab="#tab2"><span>Chemicals</span></li>
                            <li class="tab-btn" data-tab="#tab3"><span>Other Products</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Tabs Content-->
            <div class="tabs-content">
                <!--History Tab / Active Tab-->
                <div class="tab active-tab" id="tab1">
                    <div class="lower-content">
                        <div class="inner-container">
                            <div class="history-carousel owl-carousel owl-theme">
                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/about/products/product1.png" alt=""></figure>
                                            <div class="title-box"><h4>Our Devices</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Our Devices</h4>
                                                <div class="text">professional, reliable, stable</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/about/products/product2.png" alt=""></figure>
                                            <div class="title-box"><h4>Our Devices</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Our Devices</h4>
                                                <div class="text">professional, reliable, stable</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/about/products/product3.png" alt=""></figure>
                                            <div class="title-box"><h4>Our Devices</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Our Devices</h4>
                                                <div class="text">professional, reliable, stable</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/about/products/product4.png" alt=""></figure>
                                            <div class="title-box"><h4>Our Devices</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Our Devices</h4>
                                                <div class="text">professional, reliable, stable</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/about/products/product5.png" alt=""></figure>
                                            <div class="title-box"><h4>Our Devices</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Our Devices</h4>
                                                <div class="text">professional, reliable, stable</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/about/products/product6.png" alt=""></figure>
                                            <div class="title-box"><h4>Our Devices</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Our Devices</h4>
                                                <div class="text">professional, reliable, stable</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/about/products/product7.png" alt=""></figure>
                                            <div class="title-box"><h4>Our Devices</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Our Devices</h4>
                                                <div class="text">professional, reliable, stable</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/about/products/product8.png" alt=""></figure>
                                            <div class="title-box"><h4>Our Devices</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Our Devices</h4>
                                                <div class="text">professional, reliable, stable</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/about/products/product9.png" alt=""></figure>
                                            <div class="title-box"><h4>Our Devices</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Our Devices</h4>
                                                <div class="text">professional, reliable, stable</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/about/products/product10.png" alt=""></figure>
                                            <div class="title-box"><h4>Our Devices</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Our Devices</h4>
                                                <div class="text">professional, reliable, stable</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/about/products/product11.png" alt=""></figure>
                                            <div class="title-box"><h4>Our Devices</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Our Devices</h4>
                                                <div class="text">professional, reliable, stable</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/about/products/product12.png" alt=""></figure>
                                            <div class="title-box"><h4>Our Devices</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Our Devices</h4>
                                                <div class="text">professional, reliable, stable</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--History Tab-->
                <div class="tab" id="tab2">
                    <div class="lower-content">
                        <div class="inner-container">
                            <div class="history-carousel owl-carousel owl-theme">
                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-1.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Diverse Approach</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Diverse Approach</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-2.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Professional Team</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Professional Team</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-3.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Result Based</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Result Based</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-4.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Expert Advice</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Expert Advice</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-5.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Saving Planning</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Saving Planning</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-1.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Diverse Approach</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Diverse Approach</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-2.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Professional Team</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Professional Team</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-3.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Result Based</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Result Based</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-4.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Expert Advice</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Expert Advice</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-5.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Saving Planning</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Saving Planning</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--History Tab-->
                <div class="tab" id="tab3">
                    <div class="lower-content">
                        <div class="inner-container">
                            <div class="history-carousel owl-carousel owl-theme">
                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-1.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Diverse Approach</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Diverse Approach</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-2.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Professional Team</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Professional Team</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-3.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Result Based</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Result Based</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-4.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Expert Advice</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Expert Advice</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-5.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Saving Planning</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Saving Planning</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-1.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Diverse Approach</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Diverse Approach</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-2.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Professional Team</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Professional Team</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-3.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Result Based</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Result Based</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-4.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Expert Advice</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Expert Advice</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- History Block -->
                                <div class="history-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/history-5.jpg" alt=""></figure>
                                            <div class="title-box"><h4>Saving Planning</h4></div>
                                        </div>
                                        <div class="content-box">
                                            <div class="inner">
                                                <h4>Saving Planning</h4>
                                                <div class="text">On low hanging fruit to dentify a ballpark value added activity to bettest. Override the digital divide.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End History Section Two-->

    <#include "./footer.ftl">

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

<!--Scroll to top-->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/appear.js"></script>
<script src="js/script.js"></script>
</body>
</html>