<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html>
<head>
<meta charset="utf-8">
<title>Zhonghao - International Trade Company</title>
<!-- Stylesheets -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="/images/tab-logo.png" type="image/x-icon">
<link rel="icon" href="/images/tab-logo.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="/js/respond.js"></script><![endif]-->
    <style>
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
<div class="page-wrapper">

    <#include "./header.ftl">

    <!-- Bnner Section -->
    <section class="banner-section">
        <div class="banner-carousel owl-carousel owl-theme" id="banner_div">
            <#list indexPage.banners as banner>
            <!-- Slide Item -->
            <div class="slide-item" style="background-image: url(${banner.imgPath});">
                <div class="auto-container">
                    <div class="content-box">
                        <h3>${banner.subTitle}</h3>
                        <h2>${banner.mainTitle}</h2>
                        <div class="text">${banner.text}</div>
                        <div class="link-box">
                            <a href="/about" class="theme-btn btn-style-one">Read More <i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            </#list>

        </div>
    </section>
    <!-- End Bnner Section -->

    <!-- Features Section -->
    <section class="features-section">
        <div class="auto-container">
            <div class="sec-title text-center wow fadeInUp">
                <h2>What We Do</h2>
            </div>

            <div class="row" id="features_row">
                <#list indexPage.features as feature>
                    <div class="feature-block col-lg-5 col-md-5 col-sm-12 wow fadeInLeft col-center-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="/service"><img src="${feature.imgPath}" style="height: 450px" alt=""></a></figure>
                                <div class="icon-box"><span class="icon flaticon-statistics"></span></div>
                            </div>
                            <div class="caption-box">
                                <h3><a href="/service">${feature.title}</a></h3>
                                <div class="text">
                                    ${feature.text}
                                </div>
                            </div>
                        </div>
                    </div>
                </#list>
            </div>
        </div>
    </section>
    <!--End Features Section -->

    <!-- History Section -->
    <section class="history-section" style="background-image: url(images/background/1.jpg);">
        <div class="auto-container">
            <div class="content-box">
                <#list indexPage.history as historyonly>
                <span class="title wow fadeInDown" data-wow-delay="0ms">${historyonly.title}</span>
                <h2 class="wow fadeInUp" data-wow-delay="300ms">${historyonly.text}</h2>
                <div class="btn-box wow fadeInUp" data-wow-delay="600ms"><a href="/about" class="theme-btn btn-style-one">ABOUT US <i class="flaticon-right-arrow"></i></a></div>
                </#list>
            </div>
        </div>
    </section>
    <!--End History Section -->

    <!-- Chart Section -->
    <section class="chart-section">
        <div class="auto-container">
            <div class="row" id="chart_row">
                <#list indexPage.chart as chartonly>
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title wow fadeInLeft" data-wow-delay="0ms">
                            <h2>${chartonly.title}</h2>
                        </div>
                        <div class="text wow fadeInLeft" data-wow-delay="300ms">${chartonly.text}</div>
                        <div class="link-box wow fadeInLeft" data-wow-delay="600ms"><a href="/about" class="theme-btn btn-style-two">VIEW STATS <i class="flaticon-right-arrow"></i></a></div>
                    </div>
                </div>

                <!-- Graph Column -->
                <div class="graph-column col-lg-6 col-md-12 col-sm-12 wow fadeIn">
                    <div class="inner-column wow fadeInRight" data-wow-delay="900ms">
                        <figure class="graph-image"><img alt="" src="${chartonly.imgPath}"></figure>
                        <p><br>${chartonly.imgDeclare}</p>
                    </div>
                </div>
                </#list>
            </div>
        </div>
    </section>
    <!--End Chart Section -->

    <!-- Services Section -->
    <section class="services-section" style="background-image: url(images/background/2.jpg);">
        <div class="auto-container">
            <div class="sec-title text-center light">
                <h2>Our Services</h2>
            </div>

            <div class="row">
                <div class="column col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="row" id="services_row">
                        <#list indexPage.services as service>
                            <div class="service-block col-lg-2 col-md-2 col-sm-6 wow fadeIn" data-wow-delay="' + (i+1)*300 + 'ms" style="margin-left: 35px;">
                                <div class="inner-box">
                                    <div class="icon-box"><figure class="image"><img src="${service.imgPath}" alt="" style="max-width: 50%;"></figure></div>
                                    <!--<h3>Supplier</h3>-->
                                    <!--<h3>&</h3>-->
                                    <!--<h3>buyer identification</h3>-->
                                    <h3>${service.title}</h3>
                                    <div class="content-box">
                                        <div class="inner">
                                            <div class="text">${service.text}</div>
                                            <a href="/service" class="read-more">Read more <i class="flaticon-right-arrow"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </#list>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Services Section -->

    <!-- Call Back Section -->
    <section class="call-back-section">
        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>Request a Call Back</h2>
                        </div>
                        <div class="text">Thank you for visiting our website. After you have filled in the fields below. please review the contents of your inquiry.</div>
                        <div class="info-box">
                            <div class="inner">
                                <span class="icon flaticon-phone-call-1"></span>
                                <span class="title">Get Free Consultation</span>
                                <h2>＋1 (812)-955-9227</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-xl-6 col-lg-12 col-md-6 col-sm-12">
                    <div class="inner-column">
                        <div class="callback-form">
                            <form id="msgForm" method="get" action="/index">
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                        <input type="text" id="username" name="username" placeholder="Your Name" required="" value="username">
                                    </div>

                                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                        <input type="email" id="email" name="email" placeholder="Your Email" required="" value="email">
                                    </div>

                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <textarea name="message" id="message" placeholder="Your Message" value="message"></textarea>
                                    </div>

                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">Send <i class="flaticon-right-arrow"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Call Back Section -->
    
    <#include "./footer.ftl">
    
</div>  
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

<!--Scroll to top-->
<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/index.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
