<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Ankara - Consulting HTML Template | Blog Single 02</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>
        
    <!-- Header Span -->
    <span class="header-span"></span>

    <header class="main-header">
        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="top-left">
                        <div class="text">New York City Financial Advisor</div>
                    </div>
                    <div class="top-right clearfix">
                        <ul class="info-box">
                            <li><i class="fa fa-phone"></i>(+0123) 456 7890</li>
                            <li><i class="fa fa-envelope"></i><a href="#">Info@anakara.com</a></li>
                            <li>
                                <ul class="social-icon-one clearfix">
                                    <li>Follow ;</li>
                                    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container">
                <div class="auto-container clearfix">
                    <div class="logo-outer">
                        <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
                    </div>

                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Togg le Button -->      
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon fa fa-bars"></span>
                                </button>
                            </div>
                            
                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home page 01</a></li>
                                            <li><a href="index-2.html">Home page 02</a></li>
                                            <li class="dropdown"><a href="#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About us</a></li>
                                    <li class="dropdown"><a href="#">Solutions</a>
                                        <ul>
                                            <li><a href="services.html">All Services</a></li>
                                            <li><a href="market-analysis.html">Market Analysis</a></li>
                                            <li><a href="business-development.html">Business Development</a></li>
                                            <li><a href="investment-planning.html">Investment Planning</a></li>
                                            <li><a href="general-consultancy.html">General Consultancy</a></li>
                                            <li><a href="wealth-management.html">Wealth Management</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Case Study</a>
                                        <ul>
                                            <li><a href="cases.html">Cases</a></li>
                                            <li><a href="case-single.html">Case Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="current dropdown"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-grid.html">Blog Grid View</a></li>
                                            <li><a href="blog-standard.html">Blog With Sidebar</a></li>
                                            <li><a href="blog-single-1.html">Blog Single 01</a></li>
                                            <li><a href="blog-single-2.html">Blog Single 02</a></li>
                                            <li><a href="error-page.html">404 Error Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->

                        <!-- Main Menu End-->
                        <div class="outer-box clearfix">
                            <!--Search Box-->
                            <div class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form method="post" action="blog.html">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->
    </header>

    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/17.jpg);">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Blog Single 02</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li>Blog Single 02</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Blog Single Full Width -->
    <div class="blog-single full-width">
        <div class="auto-container">
            
            <!-- News Block Three -->
            <div class="news-block-three">
                <div class="inner-box">
                    <!-- Image Box -->
                    <div class="image-box wow fadeIn">
                        <figure class="image"><img src="images/resource/blog-single.jpg" alt=""></figure>
                    </div>
                    <!-- Lower Content -->
                    <div class="lower-content">
                        <div class="title-box">
                            <div class="date"><i class="fa fa-calendar"></i> June 27 , 2019 , At 5pm</div> 
                            <h4>Nanotechnology immersion along the information will close.</h4>
                        </div>
                        <div class="text-box clearfix">
                            <p>Love Boat promises something for everyone as long as well live its you the and me baby there ain't nothing rong with that sailing orny ought to be so they loaded up the truck.Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                            <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                            <blockquote>
                                <span class="icon">"</span>
                                <p>administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize.</p>
                            </blockquote>
                            <div class="two-column">
                                <div class="row">
                                    <div class="image-column col-lg-4 col-md-5 col-sm-12">
                                        <div class="image"><img src="images/resource/image-6.jpg" alt=""></div>
                                    </div>
                                    <div class="text-column col-lg-8 col-md-7 col-sm-12">
                                        <div class="inner">
                                            <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain .Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                                            <ul class="list-style-one">
                                                <li>Quickly maximize timely deliverables</li>
                                                <li>What a finance director</li>
                                                <li>DeliverablesMaximize timely</li>
                                                <li>Quickly maximize timely deliverables</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved .
                            <h5>You don’t deliver what you promise</h5>
                            <figure><img src="images/resource/image-8.jpg" alt=""></figure>
                            <p>Vross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain Boat promises something for everyone as long as well live its you the and me baby there ain't nothing rong with that sailing orny ought to be so they loaded up the truck.Podcasting operational change management inside</p>

                            <p>of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Other Option -->
            <div class="post-share-options clearfix">
                <div class="float-left">
                    <p>Tags : </p>
                    <ul class="tags">
                        <li><a href="#">Consulting ,</a></li>
                        <li><a href="#">Data ,</a></li>
                        <li><a href="#">Business ,</a></li>
                        <li><a href="#">Aet </a></li>
                    </ul>
                </div>
                <div class="float-right">
                    <p>Follows :</p>
                    <ul class="social-icon">
                        <li><a href="#"><span class="fa fa-facebook-official"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter-square"></span></a></li>
                        <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-pinterest"></span></a></li>
                    </ul>
                </div>
            </div>

            <!--Post Controls-->
            <div class="post-controls">
                <div class="inner clearfix">
                    <div class="prev-post">
                        <span class="icon flaticon-left-arrow"></span>
                        <h5><a href="blog-detail.html">Cybersecurity And Search Innovative Solutions</a></h5>
                    </div>

                    <div class="next-post">
                        <span class="icon flaticon-right-arrow"></span>
                        <h5><a href="blog-detail.html">Tech Making Creative Better or Worse?</a></h5>
                    </div>
                </div>
            </div>

             <!-- Author Box -->
            <div class="author-box">
                <div class="inner-box">
                    <div class="thumb"><img src="images/resource/author-thumb.jpg" alt=""></div>
                    <h4 class="name">John Doue</h4>
                    <span class="designation">Designer</span>
                    <div class="text">Vross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail.</div>
                </div>
            </div>

            <!-- Comments Area -->
            <div class="comments-area">
                <div class="group-title"><h4>Comment 02</h4></div>

                <div class="three-item-carousel owl-carousel owl-theme">
                    <!-- Comment Block -->
                    <div class="comment-block">
                        <div class="inner-box">
                            <div class="thumb"><img src="images/resource/thumb-3.jpg" alt=""></div>
                            <div class="info">
                                <h5 class="name">Nattasha</h5>
                                <span class="designation">Planning Manager</span>
                            </div>
                            <div class="text">Vross-media information without cross-media value. Quickly maximize timely deliverables for real-time sche Deleiver</div>
                            <div class="link-box"><a href="#">Reply Now</a></div>
                        </div>
                    </div>

                    <!-- Comment Block -->
                    <div class="comment-block">
                        <div class="inner-box">
                            <div class="thumb"><img src="images/resource/thumb-4.jpg" alt=""></div>
                            <div class="info">
                                <h5 class="name">Nattasha</h5>
                                <span class="designation">Planning Manager</span>
                            </div>
                            <div class="text">Vross-media information without cross-media value. Quickly maximize timely deliverables for real-time sche Deleiver</div>
                            <div class="link-box"><a href="#">Reply Now</a></div>
                        </div>
                    </div>

                    <!-- Comment Block -->
                    <div class="comment-block">
                        <div class="inner-box">
                            <div class="thumb"><img src="images/resource/thumb-5.jpg" alt=""></div>
                            <div class="info">
                                <h5 class="name">Nattasha</h5>
                                <span class="designation">Planning Manager</span>
                            </div>
                            <div class="text">Vross-media information without cross-media value. Quickly maximize timely deliverables for real-time sche Deleiver</div>
                            <div class="link-box"><a href="#">Reply Now</a></div>
                        </div>
                    </div>

                    <!-- Comment Block -->
                    <div class="comment-block">
                        <div class="inner-box">
                            <div class="thumb"><img src="images/resource/thumb-3.jpg" alt=""></div>
                            <div class="info">
                                <h5 class="name">Nattasha</h5>
                                <span class="designation">Planning Manager</span>
                            </div>
                            <div class="text">Vross-media information without cross-media value. Quickly maximize timely deliverables for real-time sche Deleiver</div>
                            <div class="link-box"><a href="#">Reply Now</a></div>
                        </div>
                    </div>

                    <!-- Comment Block -->
                    <div class="comment-block">
                        <div class="inner-box">
                            <div class="thumb"><img src="images/resource/thumb-4.jpg" alt=""></div>
                            <div class="info">
                                <h5 class="name">Nattasha</h5>
                                <span class="designation">Planning Manager</span>
                            </div>
                            <div class="text">Vross-media information without cross-media value. Quickly maximize timely deliverables for real-time sche Deleiver</div>
                            <div class="link-box"><a href="#">Reply Now</a></div>
                        </div>
                    </div>

                    <!-- Comment Block -->
                    <div class="comment-block">
                        <div class="inner-box">
                            <div class="thumb"><img src="images/resource/thumb-5.jpg" alt=""></div>
                            <div class="info">
                                <h5 class="name">Nattasha</h5>
                                <span class="designation">Planning Manager</span>
                            </div>
                            <div class="text">Vross-media information without cross-media value. Quickly maximize timely deliverables for real-time sche Deleiver</div>
                            <div class="link-box"><a href="#">Reply Now</a></div>
                        </div>
                    </div>

                    <!-- Comment Block -->
                    <div class="comment-block">
                        <div class="inner-box">
                            <div class="thumb"><img src="images/resource/thumb-3.jpg" alt=""></div>
                            <div class="info">
                                <h5 class="name">Nattasha</h5>
                                <span class="designation">Planning Manager</span>
                            </div>
                            <div class="text">Vross-media information without cross-media value. Quickly maximize timely deliverables for real-time sche Deleiver</div>
                            <div class="link-box"><a href="#">Reply Now</a></div>
                        </div>
                    </div>

                    <!-- Comment Block -->
                    <div class="comment-block">
                        <div class="inner-box">
                            <div class="thumb"><img src="images/resource/thumb-4.jpg" alt=""></div>
                            <div class="info">
                                <h5 class="name">Nattasha</h5>
                                <span class="designation">Planning Manager</span>
                            </div>
                            <div class="text">Vross-media information without cross-media value. Quickly maximize timely deliverables for real-time sche Deleiver</div>
                            <div class="link-box"><a href="#">Reply Now</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Comments Form -->
            <div class="comment-form">
                <div class="row">
                    <div class="row">
                        <div class="column col-xl-8 col-lg-12 col-md-12 col-sm-12">
                            <div class="group-title"><h4>Leave a Reply</h4></div>
                            <!--Comment Form-->
                            <form method="post" action="blog.html">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label>Your Name (requird)</label>
                                        <input type="text" name="username" required="">
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label>Your Mail (requird)</label>
                                        <input type="email" name="email" required="">
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <label>Enter Your Word</label>
                                        <textarea name="message"></textarea>
                                    </div>
                                    
                                    <div class="col-lg-4 col-md-12 col-sm-12 form-group">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">Post Comment <i class="flaticon-right-arrow"></i></button>
                                    </div> 
                                </div>
                            </form>
                        </div>

                        <div class="column col-xl-4 col-lg-12 col-md-12 col-sm-12">
                            <div class="contact-box wow fadeInRight" style="background-image: url(images/resource/image-9.jpg);">
                                <div class="inner-box">
                                    <h5>Contact Us</h5>
                                    <div class="text">Vross-media information without cross-media value. Quickly maximize timely deliverables for real-time sche Deleiver Quickly maximize timely</div>
                                    <ul class="contact-info">
                                        <li><i class="icon fa fa-map"></i>848 E 28th St, Brooklyn NY, <br>United States</li>
                                        <li><i class="icon fa fa-phone"></i>+1 724-452-9065</li>
                                        <li><i class="icon fa fa-envelope"></i><a href="#">info@ankara.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Main Footer -->
    <footer class="main-footer">
        <!--Widgets Section-->
        <div class="widgets-section" style="background-image: url(images/background/4.jpg);">
            <div class="auto-container">
                <div class="row">
                    <!--Big Column-->
                    <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <!--Footer Column-->
                            <div class="footer-column col-md-12">
                                <div class="footer-widget about-widget">
                                    <div class="footer-logo">
                                        <figure>
                                            <a href="index.html"><img src="images/footer-logo.png" alt=""></a>
                                        </figure>
                                    </div>

                                    <div class="widget-content">
                                        <div class="text">The first mate and his skipper too willes do their very best to the comfort in their tropic streamlined cloud solution.Podcasting operational change management.</div>
                                        <div class="map-image wow zoomIn">
                                            <figure class="image"><img src="images/resource/map-img.png" alt=""></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>       
                        </div>
                    </div>
                        
                    <!--Big Column-->
                    <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="row clearfix">
                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget info-widget">
                                    <h4 class="widget-title">Work Time ;</h4>
                                    <div class="widget-content">
                                        <ul class="shedule">
                                            <li>Mon - Fri: 9:00 - 19:00</li>
                                            <li>Closed on Weekends</li>
                                        </ul>

                                        <ul class="item-list clearfix">
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Aproach</a></li>
                                            <li><a href="#">Industries</a></li>
                                            <li><a href="#">People</a></li>
                                            <li><a href="#">Case Studies</a></li>
                                            <li><a href="#">Testimonials</a></li>
                                            <li><a href="#">Contacts</a></li>
                                            <li><a href="#">Insights</a></li>
                                        </ul>

                                        <div class="social-links">
                                            <h2 class="widget-title">Follow Us ;</h2>
                                            <ul class="social-icon-two">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> 
                            </div>

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <!--Footer Column-->
                                <div class="footer-widget recent-posts">
                                    <h2 class="widget-title">Recent Post ;</h2>
                                     <!--Footer Column-->
                                    <div class="widget-content">
                                        <div class="post">
                                            <div class="text"><a href="blog-single-1.html">Till wanted by theam govern they survive as soldiers.</a></div>
                                            <span class="date">25 June 2019</span>
                                        </div>

                                        <div class="post">
                                            <div class="text"><a href="blog-single-1.html">World don't move to beat of just one drum.</a></div>
                                            <span class="date">25 June 2019</span>
                                        </div>

                                        <div class="post">
                                            <div class="text"><a href="blog-single-1.html">Wanted by theam govern they survive as soldiers.</a></div>
                                            <span class="date">25 June 2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <ul class="footer-nav">
                        <li><a href="#">PRIVACY</a></li>
                        <li><a href="#">POLICYTERMS</a></li>
                        <li><a href="#">CONDITIONS</a></li>
                    </ul>
                    
                    <div class="copyright-text">
                        <p>&copy;  2019 <a href="index.html">Anakara Consulting Theme</a> | All rights reserved.</p>
                    </div>  
                </div>
            </div>
        </div>
    </footer>
    <!-- End Main Footer -->

</div>  
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

<!--Scroll to top-->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/appear.js"></script>
<script src="js/script.js"></script>
</body>
</html>