<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Ankara - Consulting HTML Template | Blog Standard </title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>
        
    <!-- Header Span -->
    <span class="header-span"></span>

    <header class="main-header">
        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="top-left">
                        <div class="text">New York City Financial Advisor</div>
                    </div>
                    <div class="top-right clearfix">
                        <ul class="info-box">
                            <li><i class="fa fa-phone"></i>(+0123) 456 7890</li>
                            <li><i class="fa fa-envelope"></i><a href="#">Info@anakara.com</a></li>
                            <li>
                                <ul class="social-icon-one clearfix">
                                    <li>Follow ;</li>
                                    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container">
                <div class="auto-container clearfix">
                    <div class="logo-outer">
                        <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
                    </div>

                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Togg le Button -->      
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon fa fa-bars"></span>
                                </button>
                            </div>
                            
                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home page 01</a></li>
                                            <li><a href="index-2.html">Home page 02</a></li>
                                            <li class="dropdown"><a href="#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About us</a></li>
                                    <li class="dropdown"><a href="#">Solutions</a>
                                        <ul>
                                            <li><a href="services.html">All Services</a></li>
                                            <li><a href="market-analysis.html">Market Analysis</a></li>
                                            <li><a href="business-development.html">Business Development</a></li>
                                            <li><a href="investment-planning.html">Investment Planning</a></li>
                                            <li><a href="general-consultancy.html">General Consultancy</a></li>
                                            <li><a href="wealth-management.html">Wealth Management</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Case Study</a>
                                        <ul>
                                            <li><a href="cases.html">Cases</a></li>
                                            <li><a href="case-single.html">Case Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="current dropdown"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-grid.html">Blog Grid View</a></li>
                                            <li><a href="blog-standard.html">Blog With Sidebar</a></li>
                                            <li><a href="blog-single-1.html">Blog Single 01</a></li>
                                            <li><a href="blog-single-2.html">Blog Single 02</a></li>
                                            <li><a href="error-page.html">404 Error Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->

                        <!-- Main Menu End-->
                        <div class="outer-box clearfix">
                            <!--Search Box-->
                            <div class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form method="post" action="blog.html">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->
    </header>

    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/11.jpg);">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Blog Standard</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li>Blog Standard</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="blog-standard">
                        <!-- News Block Three -->
                        <div class="news-block-three wow fadeInUp">
                            <div class="inner-box">
                                <!-- Image Box -->
                                <div class="image-box">
                                    <figure class="image"><a href="blog-single-2.html"><img src="images/resource/blog-1.jpg" alt=""></a></figure>
                                </div>
                                <!-- Lower Content -->
                                <div class="lower-content">
                                    <div class="title-box">
                                        <ul class="tags">
                                            <li class="bg-pink"><a href="blog-single-2.html">Business</a></li>
                                            <li class="bg-green"><a href="blog-single-2.html">Marketing</a></li>
                                        </ul>
                                        <div class="date"><i class="fa fa-calendar"></i> June 27 , 2019 , At 5pm</div> 
                                        <h4><a href="blog-single-2.html">Nanotechnology immersion along the information <br>will close.</a></h4>
                                    </div>
                                    <div class="text-box">
                                        <div class="text">Love Boat promises something for everyone as long as well live its you the and me baby there ain't nothing rong with that sailing orny  the truck.</div>
                                        <div class="link-box"><a href="blog-single-2.html">Read More</a></div>
                                        <ul class="social-links">
                                            <li class="title">Follow ; </li>
                                            <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="bottom-box">
                                        <ul class="meta clearfix">
                                            <li><i class="fa fa-user"></i> Admin ;<a href="#">John Doue</a></li>
                                            <li><i class="fa fa-eye"></i> Views ;<a href="#">2036</a></li>
                                            <li><i class="fa fa-comment"></i> Comment ;<a href="#">42</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- News Block Three -->
                        <div class="news-block-three wow fadeInUp">
                            <div class="inner-box">
                                <!-- Image Box -->
                                <div class="image-box">
                                    <figure class="image"><a href="blog-single-2.html"><img src="images/resource/blog-2.jpg" alt=""></a></figure>
                                </div>
                                <!-- Lower Content -->
                                <div class="lower-content">
                                    <div class="title-box">
                                        <ul class="tags">
                                            <li class="bg-pink"><a href="blog-single-2.html">Business</a></li>
                                            <li class="bg-green"><a href="blog-single-2.html">Marketing</a></li>
                                            <li class="bg-purple"><a href="blog-single-2.html">Research</a></li>
                                        </ul>
                                        <div class="date"><i class="fa fa-calendar"></i> June 27 , 2019 , At 5pm</div> 
                                        <h4><a href="blog-single-2.html">One Good thing about music is that when it hits you, <br> you feel no pain.</a></h4>
                                    </div>
                                    <div class="text-box">
                                        <div class="text">Love Boat promises something for everyone as long as well live its you the and me baby there ain't nothing rong with that sailing orny  the truck.</div>
                                        <div class="link-box"><a href="blog-single-2.html">Read More</a></div>
                                        <ul class="social-links">
                                            <li class="title">Follow ; </li>
                                            <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="bottom-box">
                                        <ul class="meta clearfix">
                                            <li><i class="fa fa-user"></i> Admin ;<a href="#">John Doue</a></li>
                                            <li><i class="fa fa-eye"></i> Views ;<a href="#">2036</a></li>
                                            <li><i class="fa fa-comment"></i> Comment ;<a href="#">42</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- News Block Three -->
                        <div class="news-block-three wow fadeInUp">
                            <div class="inner-box">
                                <!-- Image Box -->
                                <div class="image-box">
                                    <figure class="image"><a href="blog-single-2.html"><img src="images/resource/blog-3.jpg" alt=""></a></figure>
                                </div>
                                <!-- Lower Content -->
                                <div class="lower-content">
                                    <div class="title-box">
                                        <ul class="tags">
                                            <li class="bg-blue-violet"><a href="blog-single-2.html">Business</a></li>
                                        </ul>
                                        <div class="date"><i class="fa fa-calendar"></i> June 27 , 2019 , At 5pm</div> 
                                        <h4><a href="blog-single-2.html">Let the life flow like Fluid to survive through race <br>of Peace.</a></h4>
                                    </div>
                                    <div class="text-box">
                                        <div class="text">Love Boat promises something for everyone as long as well live its you the and me baby there ain't nothing rong with that sailing orny  the truck.</div>
                                        <div class="link-box"><a href="blog-single-2.html">Read More</a></div>
                                        <ul class="social-links">
                                            <li class="title">Follow ; </li>
                                            <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="bottom-box">
                                        <ul class="meta clearfix">
                                            <li><i class="fa fa-user"></i> Admin ;<a href="#">John Doue</a></li>
                                            <li><i class="fa fa-eye"></i> Views ;<a href="#">2036</a></li>
                                            <li><i class="fa fa-comment"></i> Comment ;<a href="#">42</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- News Block Four -->
                        <div class="news-block-four">
                            <div class="inner-box">
                                <div class="image-box"><figure class="image"><img src="images/resource/blog-4.jpg" alt=""></figure></div>
                                <div class="info-box">
                                    <div class="date"><i class="fa fa-calendar"></i> June 27 ,2019 , at 5;30pm</div>
                                    <h4><a href="blog-single-2.html">Nanotechnology immersion along the <br>information will close.</a></h4>
                                    <div class="link-box"><a href="blog-single-2.html">Read More</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- News Block Three -->
                        <div class="news-block-three wow fadeInUp">
                            <div class="inner-box">
                                <!-- Image Box -->
                                <div class="image-box">
                                    <figure class="image"><a href="blog-single-2.html"><img src="images/resource/blog-5.jpg" alt=""></a></figure>
                                </div>
                                <!-- Lower Content -->
                                <div class="lower-content">
                                    <div class="title-box">
                                        <ul class="tags">
                                            <li class="bg-pink"><a href="blog-single-2.html">Business</a></li>
                                            <li class="bg-green"><a href="blog-single-2.html">Marketing</a></li>
                                            <li class="bg-light-blue"><a href="blog-single-2.html">Research</a></li>
                                        </ul>
                                        <div class="date"><i class="fa fa-calendar"></i> June 27 , 2019 , At 5pm</div> 
                                        <h4><a href="blog-single-2.html">Nanotechnology immersion along the information <br>will close.</a></h4>
                                    </div>
                                    <div class="text-box">
                                        <div class="text">Love Boat promises something for everyone as long as well live its you the and me baby there ain't nothing rong with that sailing orny  the truck.</div>
                                        <div class="link-box"><a href="blog-single-2.html">Read More</a></div>
                                        <ul class="social-links">
                                            <li class="title">Follow ; </li>
                                            <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="bottom-box">
                                        <ul class="meta clearfix">
                                            <li><i class="fa fa-user"></i> Admin ;<a href="#">John Doue</a></li>
                                            <li><i class="fa fa-eye"></i> Views ;<a href="#">2036</a></li>
                                            <li><i class="fa fa-comment"></i> Comment ;<a href="#">42</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- BlockQuote Style One -->
                        <blockquote class="blockquote-style-one">
                            <p>Love Boat promises something for everyone as long as well live its you the and me baby here ain't nothing rong with that sailing orny  the truck. eos qui ratione voluptatem sequi .</p>
                            <cite class="name">-; Peeter Johnson</cite>
                            <span class="designation">Marketers</span>
                        </blockquote>

                        <!-- News Block Three -->
                        <div class="news-block-three wow fadeInUp">
                            <div class="inner-box">
                                <!-- Lower Content -->
                                <div class="lower-content">
                                    <div class="title-box">
                                        <ul class="tags">
                                            <li class="bg-pink"><a href="blog-single-2.html">Business</a></li>
                                        </ul>
                                        <div class="date"><i class="fa fa-calendar"></i> June 27 , 2019 , At 5pm</div> 
                                        <h4><a href="blog-single-2.html">Nanotechnology immersion along the information <br>will close.</a></h4>
                                    </div>
                                    <div class="text-box">
                                        <div class="text">Love Boat promises something for everyone as long as well live its you the and me baby there ain't nothing rong with that sailing orny  the truck.</div>
                                        <div class="link-box"><a href="blog-single-2.html">Read More</a></div>
                                        <ul class="social-links">
                                            <li class="title">Follow ; </li>
                                            <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="bottom-box">
                                        <ul class="meta clearfix">
                                            <li><i class="fa fa-user"></i> Admin ;<a href="#">John Doue</a></li>
                                            <li><i class="fa fa-eye"></i> Views ;<a href="#">2036</a></li>
                                            <li><i class="fa fa-comment"></i> Comment ;<a href="#">42</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Post Share Options-->
                    <div class="styled-pagination">
                        <ul class="clearfix">
                            <li><a href="#">01</a></li>
                            <li><a href="#">02</a></li>
                            <li class="active"><a href="#">03</a></li>
                            <li class="next-post"><a href="#"> Next <span class="fa fa-angle-right"></span> </a></li>
                        </ul>
                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <aside class="sidebar">
                        <!-- Search Box -->
                        <div class="sidebar-widget search-box">
                            <div class="sidebar-title"><h3>Search</h3></div>
                            <div class="widget-content">
                                <form method="post" action="blog.html">
                                    <div class="form-group">
                                        <input type="search" name="search-field" value="" placeholder="Search" required="">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Category Widget -->
                        <div class="sidebar-widget categories">
                            <div class="sidebar-title"><h3>Our Services</h3></div>
                            <div class="widget-content">
                                <ul class="category-list">
                                    <li><a href="service-single.html">All-services</a></li>
                                    <li><a href="service-single.html">Market Analysis</a></li>
                                    <li><a href="service-single.html">Business Development </a></li>
                                    <li><a href="service-single.html">Investment Planing </a></li>
                                    <li><a href="service-single.html">General Consultancy</a></li>
                                    <li><a href="service-single.html">Wealth Management</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Testimonial Widget -->
                        <div class="sidebar-widget testimonial-widget">
                            <div class="sidebar-title"><h3>Testimonials</h3></div>
                            <div class="widget-content">
                                <div class="single-item-carousel owl-carousel owl-theme">
                                    <!-- Testimonial Block -->
                                    <div class="testimonial-block-three">
                                        <div class="info-box">
                                            <figure class="thumb"><img src="images/resource/thumb-2.jpg" alt=""></figure>
                                            <h4 class="name">John Doue</h4>
                                            <span class="designation">Co-Founder</span>
                                        </div>
                                        <div class="text"> “ The first mate and his skipper too willes do their very best to fort in their tropic island to end the Love Boat soon. pursues . </div>
                                    </div>

                                    <!-- Testimonial Block -->
                                    <div class="testimonial-block-three">
                                        <div class="info-box">
                                            <figure class="thumb"><img src="images/resource/thumb-2.jpg" alt=""></figure>
                                            <h4 class="name">John Doue</h4>
                                            <span class="designation">Co-Founder</span>
                                        </div>
                                        <div class="text"> “ The first mate and his skipper too willes do their very best to fort in their tropic island to end the Love Boat soon. pursues . </div>
                                    </div>

                                    <!-- Testimonial Block -->
                                    <div class="testimonial-block-three">
                                        <div class="info-box">
                                            <figure class="thumb"><img src="images/resource/thumb-2.jpg" alt=""></figure>
                                            <h4 class="name">John Doue</h4>
                                            <span class="designation">Co-Founder</span>
                                        </div>
                                        <div class="text"> “ The first mate and his skipper too willes do their very best to fort in their tropic island to end the Love Boat soon. pursues . </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Category Widget -->
                        <div class="sidebar-widget categories">
                            <div class="sidebar-title"><h3>Categories</h3></div>
                            <div class="widget-content">
                                <ul class="category-list">
                                    <li><a href="blog-single-1.html">Business Development</a></li>
                                    <li><a href="blog-single-1.html">Innovation</a></li>
                                    <li><a href="blog-single-1.html">Management </a></li>
                                    <li><a href="blog-single-1.html">Stocks Investing </a></li>
                                    <li><a href="blog-single-1.html">Strategic & Planning</a></li>
                                    <li><a href="blog-single-1.html">Strategy Consulting</a></li>
                                    <li><a href="blog-single-1.html">Tax And Consultant</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Post Widget -->
                        <div class="sidebar-widget post-widget">
                            <div class="sidebar-title"><h3>Recent Post</h3></div>
                            <div class="widget-content">
                                <!-- Post -->
                                <article class="post">
                                    <div class="thumb"><a href="blog-single-1.html"><img src="images/resource/post-thumb-1.jpg" alt=""></a></div>
                                    <h3><a href="blog-single-1.html">What Data Analytics Tell Us About Business Models</a></h3>
                                    <ul class="info">
                                        <li><i class="fa fa-calendar"></i> June 27 ,2019 , </li>
                                        <li><i class="fa fa-user"></i> By Admin</li>
                                    </ul>
                                </article>

                                <!-- Post -->
                                <article class="post">
                                    <div class="thumb"><a href="blog-single-1.html"><img src="images/resource/post-thumb-2.jpg" alt=""></a></div>
                                    <h3><a href="blog-single-1.html">Data Analytics Tell Us About Business Models</a></h3>
                                    <ul class="info">
                                        <li><i class="fa fa-calendar"></i> June 27 ,2019 , </li>
                                        <li><i class="fa fa-user"></i> By Admin</li>
                                    </ul>
                                </article>

                                <!-- Post -->
                                <article class="post">
                                    <div class="thumb"><a href="blog-single-1.html"><img src="images/resource/post-thumb-3.jpg" alt=""></a></div>
                                    <h3><a href="blog-single-1.html">Analytics Tell Us About Business Models</a></h3>
                                    <ul class="info">
                                        <li><i class="fa fa-calendar"></i> June 27 ,2019 , </li>
                                        <li><i class="fa fa-user"></i> By Admin</li>
                                    </ul>
                                </article>
                            </div>
                        </div>

                         <!-- Text Widget -->
                        <div class="sidebar-widget contact-widget">
                            <div class="sidebar-title"><h3>Contact Us</h3></div>
                            <div class="widget-content" style="background-image: url(images/resource/image-5.jpg);">
                                <ul class="contact-info">
                                    <li>562, Mallin Street, New York, NY 100 254.USA</li>
                                    <li><strong>Phone :</strong> +1230-456-7890</li>
                                    <li><strong>Email :</strong> <a href="#">contact@ankara.com</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Popular tags -->
                        <div class="sidebar-widget tags-widget">
                            <div class="sidebar-title"><h3>Tags</h3></div>
                            <ul class="tag-list clearfix">
                                <li><a href="#">Analytics</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Art</a></li>
                                <li><a href="#">Consulting</a></li>
                                <li><a href="#">Data</a></li>
                                <li><a href="#">Management</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Solutions</a></li>
                                <li><a href="#">Stock</a></li>
                                <li><a href="#">Consulting</a></li>
                                <li><a href="#">Data</a></li>
                                <li><a href="#">Strategic Tax</a></li>
                                <li><a href="#">Innovation</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Tax</a></li>
                                <li><a href="#">Investing</a></li>
                                <li><a href="#">Data</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Solutions</a></li>
                                <li><a href="#">Stock</a></li>
                                <li><a href="#">Planning</a></li>
                                <li><a href="#">Mony</a></li>
                                <li><a href="#">Medical Tax</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Strategic Tax</a></li>
                            </ul> 
                        </div>

                        <!-- Meta tags -->
                        <div class="sidebar-widget meta-widget">
                            <div class="sidebar-title"><h3>Meta Tag</h3></div>
                            <ul class="meta-list">
                                <li><a href="#">Log in</a></li>
                                <li><a href="#">Entries <span>RSS</span></a></li>
                                <li><a href="#">Comments <span>RSS</span></a></li>
                                <li><a href="#">WordPress.org</a></li>
                            </ul> 
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!--End Blog List -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!--Widgets Section-->
        <div class="widgets-section" style="background-image: url(images/background/4.jpg);">
            <div class="auto-container">
                <div class="row">
                    <!--Big Column-->
                    <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <!--Footer Column-->
                            <div class="footer-column col-md-12">
                                <div class="footer-widget about-widget">
                                    <div class="footer-logo">
                                        <figure>
                                            <a href="index.html"><img src="images/footer-logo.png" alt=""></a>
                                        </figure>
                                    </div>

                                    <div class="widget-content">
                                        <div class="text">The first mate and his skipper too willes do their very best to the comfort in their tropic streamlined cloud solution.Podcasting operational change management.</div>
                                        <div class="map-image wow zoomIn">
                                            <figure class="image"><img src="images/resource/map-img.png" alt=""></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>       
                        </div>
                    </div>
                        
                    <!--Big Column-->
                    <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="row clearfix">
                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget info-widget">
                                    <h4 class="widget-title">Work Time ;</h4>
                                    <div class="widget-content">
                                        <ul class="shedule">
                                            <li>Mon - Fri: 9:00 - 19:00</li>
                                            <li>Closed on Weekends</li>
                                        </ul>

                                        <ul class="item-list clearfix">
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Aproach</a></li>
                                            <li><a href="#">Industries</a></li>
                                            <li><a href="#">People</a></li>
                                            <li><a href="#">Case Studies</a></li>
                                            <li><a href="#">Testimonials</a></li>
                                            <li><a href="#">Contacts</a></li>
                                            <li><a href="#">Insights</a></li>
                                        </ul>

                                        <div class="social-links">
                                            <h2 class="widget-title">Follow Us ;</h2>
                                            <ul class="social-icon-two">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> 
                            </div>

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <!--Footer Column-->
                                <div class="footer-widget recent-posts">
                                    <h2 class="widget-title">Recent Post ;</h2>
                                     <!--Footer Column-->
                                    <div class="widget-content">
                                        <div class="post">
                                            <div class="text"><a href="blog-single-1.html">Till wanted by theam govern they survive as soldiers.</a></div>
                                            <span class="date">25 June 2019</span>
                                        </div>

                                        <div class="post">
                                            <div class="text"><a href="blog-single-1.html">World don't move to beat of just one drum.</a></div>
                                            <span class="date">25 June 2019</span>
                                        </div>

                                        <div class="post">
                                            <div class="text"><a href="blog-single-1.html">Wanted by theam govern they survive as soldiers.</a></div>
                                            <span class="date">25 June 2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <ul class="footer-nav">
                        <li><a href="#">PRIVACY</a></li>
                        <li><a href="#">POLICYTERMS</a></li>
                        <li><a href="#">CONDITIONS</a></li>
                    </ul>
                    
                    <div class="copyright-text">
                        <p>&copy;  2019 <a href="index.html">Anakara Consulting Theme</a> | All rights reserved.</p>
                    </div>  
                </div>
            </div>
        </div>
    </footer>
    <!-- End Main Footer -->

</div>  
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

<!--Scroll to top-->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/appear.js"></script>
<script src="js/script.js"></script>
</body>
</html>