<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Zhonghao - International Trade Company</title>
<!-- Stylesheets -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="/images/tab-logo.png" type="image/x-icon">
<link rel="icon" href="/images/tab-logo.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="/js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>
        
    <!-- Header Span -->
    <span class="header-span"></span>

    <header class="main-header">
        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="top-left">
                        <div class="text">International Trade Company</div>
                    </div>
                    <div class="top-right clearfix">
                        <ul class="info-box">
                            <li><i class="fa fa-phone"></i>+1 (812)-955-9227</li>
                            <li><i class="fa fa-envelope"></i><a href="#">zhonghaointernational@yahoo.com</a></li>
                            <li>
                                <ul class="social-icon-one clearfix">
                                    <li>Follow ;</li>
                                    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container">
                <div class="auto-container clearfix">
                    <div class="logo-outer">
                        <div class="logo"><a href="index.html"><img src="images/logohao.png" alt="" title="" style="width:260px; height:80px;"></a></div>
                    </div>

                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Togg le Button -->      
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon fa fa-bars"></span>
                                </button>
                            </div>
                            
                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/about">About us</a></li>
                                    <li class="dropdown"><a href="/service">Solutions</a>
                                        <ul>
                                            <li><a href="/service">All Services</a></li>
                                            <li><a href="/service">Market Analysis</a></li>
                                            <li><a href="/service">Business Development</a></li>
                                            <li><a href="/service">Investment Planning</a></li>
                                            <li><a href="/service">General Consultancy</a></li>
                                            <li><a href="/service">Wealth Management</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown" hidden><a href="#">Case Study</a>
                                        <ul>
                                            <li><a href="cases.html">Cases</a></li>
                                            <li><a href="case-single.html">Case Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown" hidden><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-grid.html">Blog Grid View</a></li>
                                            <li><a href="blog-standard.html">Blog With Sidebar</a></li>
                                            <li><a href="blog-single-1.html">Blog Single 01</a></li>
                                            <li><a href="blog-single-2.html">Blog Single 02</a></li>
                                            <li><a href="error-page.html">404 Error Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->

                        <!-- Main Menu End-->
                        <div class="outer-box clearfix" hidden>
                            <!--Search Box-->
                            <div class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form method="post" action="blog.html">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->
    </header>

    <!-- Bnner Section -->
    <section class="banner-section">
        <div class="banner-carousel owl-carousel owl-theme" id="banner_div">
            <th:block th:each="bannerItem:${bannerList}">
                <div class="slide-item" th:style="'background-image: url(' + ${bannerItem.imgPath} + ');'">
                    <div class="auto-container">
                        <div class="content-box">
                            <h3 th:text="${bannerItem.title1}"></h3>
                            <h2 th:text="${bannerItem.title2}"></h2>
                            <div class="text" th:inline="text">[[${bannerItem.title3}]]</div>
                            <div class="link-box">
                                <a href="about.html" class="theme-btn btn-style-one">Read More <i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </section>
    <!-- End Bnner Section -->

    <!-- Features Section -->
    <section class="features-section">
        <div class="auto-container">
            <div class="sec-title text-center wow fadeInUp">
                <h2>What We Do</h2>
            </div>

            <div class="row" id = "features_row">
                <th:block th:each="featuresItem:${featuresList}">
                    <div class="feature-block col-lg-6 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="' + i*400 + 'ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="services.html"><img th:attr="src=${featuresItem.imgPath}" alt="" style="height:506px;"></a></figure>
                            </div>
                            <div class="caption-box">
                                <h3><a href="service-single.html" th:text="${featuresItem.title}"></a></h3>
                                <div class="text" th:text="${featuresItem.text}"></div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </section>
    <!--End Features Section -->

    <!-- History Section -->
    <section class="history-section" style="background-image: url(images/background/1.jpg);">
        <div class="auto-container">
            <div class="content-box">
                <span class="title wow fadeInDown" data-wow-delay="0ms">OUR SHORT HISTORY</span>
                <h2 class="wow fadeInUp" data-wow-delay="300ms">Our long-term
                    goal is to become the preferred import company for the chemical and mining industry.</h2>
                <div class="btn-box wow fadeInUp" data-wow-delay="600ms"><a href="/about" class="theme-btn btn-style-one">ABOUT US <i class="flaticon-right-arrow"></i></a></div>
            </div>
        </div>
    </section>
    <!--End History Section -->

    <!-- Chart Section -->
    <section class="chart-section">
        <div class="auto-container">
            <div class="row" id="chart_row">
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title wow fadeInLeft" data-wow-delay="0ms">
                            <h2 th:text="${chartInfo.title}"></h2>
                        </div>
                        <div class="text wow fadeInLeft" data-wow-delay="300ms" th:text="${chartInfo.text}"></div>
                        <div class="link-box wow fadeInLeft" data-wow-delay="600ms"><a href="about.html" class="theme-btn btn-style-two">VIEW STATS <i class="flaticon-right-arrow"></i></a></div>
                    </div>
                </div>

                <!-- Graph Column -->
                <div class="graph-column col-lg-6 col-md-12 col-sm-12 wow fadeIn">
                    <div class="inner-column wow fadeInRight" data-wow-delay="900ms">
                        <figure class="graph-image"><img th:attr="src=${chartInfo.imgPath}"  alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Chart Section -->

    <!-- Cases Section -->
    <section class="cases-section" hidden>
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Case Studies</h2>
            </div>

            <div class="row">
                <!-- Case Block -->
                <div class="case-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" >
                    <div class="image-box">
                        <figure><img src="images/gallery/1.jpg" alt=""></figure>
                        <a href="case-single.html"><span class="fa fa-link"></span></a>
                    </div>
                </div>

                <!-- Case Block -->
                <div class="case-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="image-box">
                        <figure><img src="images/gallery/2.jpg" alt=""></figure>
                        <a href="case-single.html"><span class="fa fa-link"></span></a>
                    </div>
                </div>

                <!-- Case Block -->
                <div class="case-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="image-box">
                        <figure><img src="images/gallery/3.jpg" alt=""></figure>
                        <a href="case-single.html"><span class="fa fa-link"></span></a>
                    </div>
                </div>

                <!-- Case Block -->
                <div class="case-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="image-box">
                        <figure><img src="images/gallery/4.jpg" alt=""></figure>
                        <a href="case-single.html"><span class="fa fa-link"></span></a>
                    </div>
                </div>

                <!-- Case Block -->
                <div class="case-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="image-box">
                        <figure><img src="images/gallery/5.jpg" alt=""></figure>
                        <a href="case-single.html"><span class="fa fa-link"></span></a>
                    </div>
                </div>

                <!-- Case Block -->
                <div class="case-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="image-box">
                        <figure><img src="images/gallery/6.jpg" alt=""></figure>
                        <a href="case-single.html"><span class="fa fa-link"></span></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Cases Section -->

    <!-- Services Section -->
    <section class="services-section" style="background-image: url(images/background/2.jpg);">
        <div class="auto-container">
            <div class="sec-title text-center light">
                <h2>Our Services</h2>
            </div>

            <div class="row">
                <div class="column col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="row" id="services_row">
                        <th:block th:each="serviceItem:${serviceList}">
                            <div class="service-block col-lg-2 col-md-2 col-sm-6 wow fadeIn" data-wow-delay="' + (i+1)*300 + 'ms" style="margin-left: 35px">
                                <div class="inner-box">
                                    <div class="icon-box"><figure class="image"><img th:attr="src=${serviceItem.imgPath}" alt="" style="max-width: 50%;"></figure></div>
                                    <h3 th:text="${serviceItem.title}"></h3>
                                    <div class="content-box">
                                        <div class="inner">
                                            <div class="text" th:text="${serviceItem.text}"></div>
                                            <a href="service-single.html" class="read-more">Read more <i class="flaticon-right-arrow"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Services Section -->

    <!-- Testimonial Section -->
    <section class="testimonial-section" style="background-image: url(images/background/3.jpg);" hidden>
        <div class="auto-container">
            <div class="testimonial-box wow slideInRight" data-wow-delay="0ms">
                <!-- Testimonial Carousel -->
                <div class="testimonial-carousel owl-carousel owl-theme">
                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="info-box">
                            <h4 class="name">John Doue</h4>
                            <span class="designation">Co-Founder</span>
                        </div>
                        <div class="text">The first mate and his skipper too willes do their very best to fort in their tropic island to end the Love Boat soon.</div>
                    </div>

                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="info-box">
                            <h4 class="name">Karl Matros</h4>
                            <span class="designation">Co-Founder</span>
                        </div>
                        <div class="text">The first mate and his skipper too willes do their very best to fort in their tropic island to end the Love Boat soon.</div>
                    </div>

                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="info-box">
                            <h4 class="name">Leann Faltz</h4>
                            <span class="designation">Co-Founder</span>
                        </div>
                        <div class="text">The first mate and his skipper too willes do their very best to fort in their tropic island to end the Love Boat soon.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Testimonial Section -->

    <!-- News Section -->
    <section class="news-section" hidden>
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Latest From Blog</h2>
            </div>

            <div class="row">
                <!-- News Block -->
                <div class="news-block col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="blog-single-1.html"><img src="images/resource/news-1.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h3><a href="blog-single-1.html">Four Big Mistakes <br> Your Small Business Is Marketing</a></h3>
                            <ul class="info clearfix">
                                <li><i class="fa fa-user"></i> John Broker</li>
                                <li><i class="fa fa-calendar"></i> 25 June 2019</li>
                            </ul>
                            <div class="text">The first mate and his skipper too willes do their very best to comfort in their tropic streamlined cloud solution. </div>
                            <div class="link-box"><a href="blog-single-1.html">Read more <i class="flaticon-right-arrow"></i></a></div>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="blog-single-1.html"><img src="images/resource/news-2.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h3><a href="blog-single-1.html">Four Big Mistakes <br> Your Small Business Is Marketing</a></h3>
                            <ul class="info clearfix">
                                <li><i class="fa fa-user"></i> John Broker</li>
                                <li><i class="fa fa-calendar"></i> 25 June 2019</li>
                            </ul>
                            <div class="text">The first mate and his skipper too willes do their very best to comfort in their tropic streamlined cloud solution. </div>
                            <div class="link-box"><a href="blog-single-1.html">Read more <i class="flaticon-right-arrow"></i></a></div>
                        </div>
                    </div>
                </div>

                <!-- News List -->
                <div class="news-list col-xl-4 col-lg-12 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <!-- News BLock Two -->
                    <div class="news-block-two">
                        <div class="inner-box">
                            <ul class="info clearfix">
                                <li><i class="fa fa-user"></i> John Broker</li>
                                <li><i class="fa fa-calendar"></i> 25 June 2019</li>
                            </ul>
                            <h3><a href="blog-single-1.html">Bring to the table win-win <br>survival strategies to ensure proactive</a></h3>
                        </div>
                    </div>

                    <!-- News BLock Two -->
                    <div class="news-block-two">
                        <div class="inner-box">
                            <ul class="info clearfix">
                                <li><i class="fa fa-user"></i> John Broker</li>
                                <li><i class="fa fa-calendar"></i> 25 June 2019</li>
                            </ul>
                            <h3><a href="blog-single-1.html">Organically grow the holistic world view of disruptive innovation…</a></h3>
                        </div>
                    </div>

                    <!-- News BLock Two -->
                    <div class="news-block-two">
                        <div class="inner-box">
                            <ul class="info clearfix">
                                <li><i class="fa fa-user"></i> John Broker</li>
                                <li><i class="fa fa-calendar"></i> 25 June 2019</li>
                            </ul>
                            <h3><a href="blog-single-1.html">Organically grow the holistic world view of disruptive innovation…</a></h3>
                        </div>
                    </div>

                    <!-- News BLock Two -->
                    <div class="news-block-two">
                        <div class="inner-box">
                            <ul class="info clearfix">
                                <li><i class="fa fa-user"></i> John Broker</li>
                                <li><i class="fa fa-calendar"></i> 25 June 2019</li>
                            </ul>
                            <h3><a href="blog-single-1.html">Grow the holistic world view of disruptive innovation…</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End News Section -->

    <!-- Call Back Section -->
    <section class="call-back-section">
        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>Request a Call Back</h2>
                        </div>
                        <div class="text">Thank you for visiting our website. After you have filled in the fields below. please review the contents of your inquiry.</div>
                        <div class="info-box">
                            <div class="inner">
                                <span class="icon flaticon-phone-call-1"></span>
                                <span class="title">Get Free Consultation</span>
                                <h2>＋1 (812)-955-9227</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-xl-6 col-lg-12 col-md-6 col-sm-12">
                    <div class="inner-column">
                        <div class="callback-form">
                            <form id="msgForm" method="get" action="home/sendMsg">
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                        <input type="text" id="username" name="username" placeholder="Your Name" required="" value="username">
                                    </div>

                                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                        <input type="email" id="email" name="email" placeholder="Your Email" required="" value="email">
                                    </div>

                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <textarea name="message" id="message" placeholder="Your Message" value="message"></textarea>
                                    </div>

                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">Send <i class="flaticon-right-arrow"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Call Back Section -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="auto-container">
                <div class="row">
                    <!--Big Column-->
                    <div class="big-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="row">
                            <!--Footer Column-->
                            <div class="footer-column col-md-12">
                                <div class="footer-widget about-widget">
                                    <div class="footer-logo">
                                        <figure>
                                            <a href="index.html"><img src="images/footer-logo.png" alt="" style="width:300px;height:100px;"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Big Column-->
                    <div class="big-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="row clearfix">
                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                            </div>

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <!--Footer Column-->
                                <div class="footer-widget info-widget">
                                    <h4 class="widget-title">Work Time ;</h4>
                                    <div class="widget-content">
                                        <ul class="shedule">
                                            <li>Mon - Fri: 9:00 - 19:00</li>
                                            <li>Closed on Weekends</li>
                                        </ul>

                                        <div class="social-links">
                                            <h2 class="widget-title">Follow Us ;</h2>
                                            <ul class="social-icon-two">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <ul class="footer-nav">
                        <li><a href="#">PRIVACY</a></li>
                        <li><a href="#">POLICYTERMS</a></li>
                        <li><a href="#">CONDITIONS</a></li>
                    </ul>

                    <div class="copyright-text">
                        <p>&copy; All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Main Footer -->

</div>  
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

<!--Scroll to top-->
<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/index.js"></script>
<!--<script th:inline="javascript">-->
    <!--function init(){-->
        <!--bannerInit([[${bannerList}]]);-->
        <!--featuresInit([[${featuresList}]]);-->
        <!--chartInit([[${chartInfo}]]);-->
        <!--servicesInit([[${serviceList}]]);-->
    <!--}-->
    <!--init();-->
<!--</script>-->
<script src="/js/script.js"></script>
</body>
</html>