<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Ankara - Consulting HTML Template | Service Single </title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>
        
    <!-- Header Span -->
    <span class="header-span"></span>

    <header class="main-header">
        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="top-left">
                        <div class="text">New York City Financial Advisor</div>
                    </div>
                    <div class="top-right clearfix">
                        <ul class="info-box">
                            <li><i class="fa fa-phone"></i>(+0123) 456 7890</li>
                            <li><i class="fa fa-envelope"></i><a href="#">Info@anakara.com</a></li>
                            <li>
                                <ul class="social-icon-one clearfix">
                                    <li>Follow ;</li>
                                    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container">
                <div class="auto-container clearfix">
                    <div class="logo-outer">
                        <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
                    </div>

                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Togg le Button -->      
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon fa fa-bars"></span>
                                </button>
                            </div>
                            
                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home page 01</a></li>
                                            <li><a href="index-2.html">Home page 02</a></li>
                                            <li class="dropdown"><a href="#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About us</a></li>
                                    <li class="current dropdown"><a href="#">Solutions</a>
                                        <ul>
                                            <li><a href="services.html">All Services</a></li>
                                            <li><a href="market-analysis.html">Market Analysis</a></li>
                                            <li><a href="business-development.html">Business Development</a></li>
                                            <li><a href="investment-planning.html">Investment Planning</a></li>
                                            <li><a href="general-consultancy.html">General Consultancy</a></li>
                                            <li><a href="wealth-management.html">Wealth Management</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Case Study</a>
                                        <ul>
                                            <li><a href="cases.html">Cases</a></li>
                                            <li><a href="case-single.html">Case Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-grid.html">Blog Grid View</a></li>
                                            <li><a href="blog-standard.html">Blog With Sidebar</a></li>
                                            <li><a href="blog-single-1.html">Blog Single 01</a></li>
                                            <li><a href="blog-single-2.html">Blog Single 02</a></li>
                                            <li><a href="error-page.html">404 Error Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->

                        <!-- Main Menu End-->
                        <div class="outer-box clearfix">
                            <!--Search Box-->
                            <div class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form method="post" action="blog.html">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->
    </header>

    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/15.jpg);">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Services Single</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li>Services Single</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="service-single">
                        <div class="image-box wow fadeIn">
                            <figure class="image"><img src="images/resource/service-single.jpg" alt=""></figure>
                        </div>
                        <div class="content-box">
                            <div class="title-box">
                                <span class="icon flaticon-toy"></span>
                                <h2>Consumer Products Services</h2>
                            </div>

                            <p>Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
                            <p> Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize scalable metrics whereas proactive e-services. Seamlessly empower fully researched growth strategies and interoperable internal or "organic" sources.</p>
                            <p>Credibly innovate granular internal or "organic" sources whereas high standards in web-readiness. Energistically scale future-proof core competencies vis-a-vis impactful experiences. Dramatically synthesize integrated schemas with optimal networks.</p>
                            <h3>Planning & Development</h3>
                            <p>competencies vis-a-vis impactful experiences. Dramatically synthesize integrated schemas with optimal networks.</p>
                            <div class="row">
                                <div class="column col-lg-6 col-md-6 col-sm-12 wow fadeInLeft">
                                    <figure class="image"><a href="images/resource/post-image-1.jpg" class="lightbox-image" data-fancybox="images"><img src="images/resource/post-image-1.jpg" alt=""></a></figure>
                                </div>
                                <div class="column col-lg-6 col-md-6 col-sm-12 wow fadeInRight">
                                    <figure class="image"><a href="images/resource/post-image-2.jpg" class="lightbox-image" data-fancybox="images"><img src="images/resource/post-image-2.jpg" alt=""></a></figure>
                                </div>
                            </div>
                            <p>Credibly innovate granular internal or "organic" sources whereas high standards in web-readiness. Energistically scale future-proof core competencies vis-a-vis impactful experiences. Dramatically synthesize integrated schemas with optimal networks.</p>
                        </div>

                        <!-- Features Box -->
                        <div class="features-box">
                            <div class="row">
                                <!-- Feature -->
                                <div class="feature col-lg-4 col-md-4 col-sm-12">
                                    <div class="inner">
                                        <span class="icon flaticon-process"></span>
                                        <h3>Resarch Market</h3>
                                        <p>innovate granular internal whereas standards</p>
                                    </div>
                                </div>

                                <!-- Feature -->
                                <div class="feature col-lg-4 col-md-4 col-sm-12">
                                    <div class="inner">
                                        <span class="icon flaticon-planning-1"></span>
                                        <h3>Business Strategy</h3>
                                        <p>innovate granular internal whereas standards</p>
                                    </div>
                                </div>

                                <!-- Feature -->
                                <div class="feature col-lg-4 col-md-4 col-sm-12">
                                    <div class="inner">
                                        <span class="icon flaticon-money-1"></span>
                                        <h3>Finance Growth</h3>
                                        <p>innovate granular internal whereas standards</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Profit Improvement -->
                        <div class="profit-improvement">
                            <h3>Profit Improvment</h3>
                            <figure class="graph wow fadeInUp"><img src="images/resource/graph-2.png" alt=""></figure>
                            <p>Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize scalable metrics whereas proactive e-services. Seamlessly empower fully researched growth strategies and interoperable internal or "organic" sources.</p>
                        </div>
                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <aside class="sidebar services-sidebar">
                        <!-- Category Widget -->
                        <div class="sidebar-widget categories">
                            <div class="sidebar-title"><h3>Our Services</h3></div>
                            <div class="widget-content">
                                <ul class="category-list">
                                    <li class="current"><a href="services.html">All Services</a></li>
                                    <li><a href="market-analysis.html">Market Analysis</a></li>
                                    <li><a href="business-development.html">Business Development</a></li>
                                    <li><a href="investment-planning.html">Investment Planning</a></li>
                                    <li><a href="general-consultancy.html">General Consultancy</a></li>
                                    <li><a href="wealth-management.html">Wealth Management</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Brochures Widget -->
                        <div class="sidebar-widget brochures">
                            <div class="sidebar-title"><h3>Our Brochures</h3></div>
                            <div class="widget-content">
                                <a href="#" class="brochure-btn">Downloaded Brochor <span class="fa fa-download"></span></a>
                            </div>
                        </div>

                        <!-- Category Widget -->
                        <div class="sidebar-widget categories">
                            <div class="sidebar-title"><h3>Contact Us</h3></div>
                            <div class="widget-content">
                                <ul class="contact-list">
                                    <li>562, Mallin Street, New York, NY 100 254.USA</li>
                                    <li><span>Phone :</span> +1230-456-7890</li>
                                    <li><span>Email :</span> <a href="#">contact@ankara.com</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Testimonial Widget -->
                        <div class="sidebar-widget testimonial-widget">
                            <div class="sidebar-title"><h3>Testimonials</h3></div>
                            <div class="widget-content">
                                <div class="single-item-carousel owl-carousel owl-theme">
                                    <!-- Testimonial Block -->
                                    <div class="testimonial-block-three">
                                        <div class="info-box">
                                            <figure class="thumb"><img src="images/resource/thumb-2.jpg" alt=""></figure>
                                            <h4 class="name">John Doue</h4>
                                            <span class="designation">Co-Founder</span>
                                        </div>
                                        <div class="text"> “ The first mate and his skipper too willes do their very best to fort in their tropic island to end the Love Boat soon. pursues . </div>
                                    </div>

                                    <!-- Testimonial Block -->
                                    <div class="testimonial-block-three">
                                        <div class="info-box">
                                            <figure class="thumb"><img src="images/resource/thumb-2.jpg" alt=""></figure>
                                            <h4 class="name">John Doue</h4>
                                            <span class="designation">Co-Founder</span>
                                        </div>
                                        <div class="text"> “ The first mate and his skipper too willes do their very best to fort in their tropic island to end the Love Boat soon. pursues . </div>
                                    </div>

                                    <!-- Testimonial Block -->
                                    <div class="testimonial-block-three">
                                        <div class="info-box">
                                            <figure class="thumb"><img src="images/resource/thumb-2.jpg" alt=""></figure>
                                            <h4 class="name">John Doue</h4>
                                            <span class="designation">Co-Founder</span>
                                        </div>
                                        <div class="text"> “ The first mate and his skipper too willes do their very best to fort in their tropic island to end the Love Boat soon. pursues . </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!--Widgets Section-->
        <div class="widgets-section" style="background-image: url(images/background/4.jpg);">
            <div class="auto-container">
                <div class="row">
                    <!--Big Column-->
                    <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <!--Footer Column-->
                            <div class="footer-column col-md-12">
                                <div class="footer-widget about-widget">
                                    <div class="footer-logo">
                                        <figure>
                                            <a href="index.html"><img src="images/footer-logo.png" alt=""></a>
                                        </figure>
                                    </div>

                                    <div class="widget-content">
                                        <div class="text">The first mate and his skipper too willes do their very best to the comfort in their tropic streamlined cloud solution.Podcasting operational change management.</div>
                                        <div class="map-image wow zoomIn">
                                            <figure class="image"><img src="images/resource/map-img.png" alt=""></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>       
                        </div>
                    </div>
                        
                    <!--Big Column-->
                    <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="row clearfix">
                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget info-widget">
                                    <h4 class="widget-title">Work Time ;</h4>
                                    <div class="widget-content">
                                        <ul class="shedule">
                                            <li>Mon - Fri: 9:00 - 19:00</li>
                                            <li>Closed on Weekends</li>
                                        </ul>

                                        <ul class="item-list clearfix">
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Aproach</a></li>
                                            <li><a href="#">Industries</a></li>
                                            <li><a href="#">People</a></li>
                                            <li><a href="#">Case Studies</a></li>
                                            <li><a href="#">Testimonials</a></li>
                                            <li><a href="#">Contacts</a></li>
                                            <li><a href="#">Insights</a></li>
                                        </ul>

                                        <div class="social-links">
                                            <h2 class="widget-title">Follow Us ;</h2>
                                            <ul class="social-icon-two">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> 
                            </div>

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <!--Footer Column-->
                                <div class="footer-widget recent-posts">
                                    <h2 class="widget-title">Recent Post ;</h2>
                                     <!--Footer Column-->
                                    <div class="widget-content">
                                        <div class="post">
                                            <div class="text"><a href="blog-single-1.html">Till wanted by theam govern they survive as soldiers.</a></div>
                                            <span class="date">25 June 2019</span>
                                        </div>

                                        <div class="post">
                                            <div class="text"><a href="blog-single-1.html">World don't move to beat of just one drum.</a></div>
                                            <span class="date">25 June 2019</span>
                                        </div>

                                        <div class="post">
                                            <div class="text"><a href="blog-single-1.html">Wanted by theam govern they survive as soldiers.</a></div>
                                            <span class="date">25 June 2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <ul class="footer-nav">
                        <li><a href="#">PRIVACY</a></li>
                        <li><a href="#">POLICYTERMS</a></li>
                        <li><a href="#">CONDITIONS</a></li>
                    </ul>
                    
                    <div class="copyright-text">
                        <p>&copy;  2019 <a href="index.html">Anakara Consulting Theme</a> | All rights reserved.</p>
                    </div>  
                </div>
            </div>
        </div>
    </footer>
    <!-- End Main Footer -->

</div>  
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

<!--Scroll to top-->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/appear.js"></script>
<script src="js/script.js"></script>
</body>
</html>